h1 {
    text-align: center;
    color: violet;
    
}
body {
    background-color: antiquewhite;
}
img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
    font-weight: bold;
    
}